@using Zebra.ZebraHelpers
@using Zebra.ViewModel
@using Newtonsoft.Json
@{
    Layout = null;
    var nodeop = Zebra.Services.Operations.OperationsFactory.NodeOperations;
} 
@model NodeBrowserModel

<div class="zebra-node-details">
    <p>Name : @Model.node.NodeName</p>
    <p>Node ID: @Model.node.Id</p>

    <p>Template Name: @Model.template.TemplateName</p>
    <p>Template ID: @Model.template.Id</p>
    @{ var nodepath = nodeop.GetAllParentNodes(Model.node.Id.ToString());
    }
    <p>Node Path: @Html.LoadNodePath(nodepath)</p>
</div>
<div>
    @foreach (var t in Zebra.Framework.Executors.FrameworkExecutor.GetFrameworkDataList(@Model.node.Id))
    {
        switch (@t.ProcessName.ToLowerInvariant())
        {
            case "roadmap":
                <p>@t.ProcessName : @nodeop.GetNode(t.RelatedId.ToString()).NodeName => Phase : @nodeop.GetNode((string)((dynamic)JsonConvert.DeserializeObject(@t.ProcessData))["currentphaseid"]).NodeName</p>
                break;
            case "validation":
                <p>@t.ProcessName : @nodeop.GetNode(t.RelatedId.ToString()).NodeName => Status : @(((dynamic)JsonConvert.DeserializeObject(@t.ProcessData))["validation"].Value)</p>
            break;
            default:
                <text>@t.ProcessName : @t.ProcessData</text>
                break;
        }
    }


</div>
<button class="zebra-save-data">Save</button>
<select data-nodeid="@Model.node.Id" class="zebra-language-selector">
    @foreach (var lang in Model.alllanguages)
    {
        <option @(Model.currentlanguage.Id==lang.Id ? "selected" : "") value="@lang.Id">@lang.CultureName</option>
    }
</select>
<a class="page-designer-link" href="./PageDesigner?nodeid=@Model.node.Id" target="_blank">Page Designer</a>
<div class="zebra-field">
    <form class="zebra-field-data-form" enctype="multipart/form-data">
        <input type="hidden" name="nodeid" id="nodeid" value="@Model.node.Id" />
        <input type="hidden" name="nodelanguageid" id="nodelanguageid" value="@Model.currentlanguage.Id" />
       @if(Model.allnodelanguages.Count(x=>x.Id == Model.currentlanguage.Id) == 0)
        {
            <input type="button" class="zebra-add-locale" value="Add Locale"/>
       }
       else
       {
            <ul>
                @for (int i = 0; i < Model.orderedfields.Count; i++)
                {
                  
                        var keyvaluepair = Model.orderedfields.ElementAt(i);
                  
                    <li>
                        <span data-section-expanded="true" class="zebra-field-section-heading"><i class="fa fa-minus-square-o"></i><b>From: @keyvaluepair.Key</b></span>
                        <div class="zebra-field-section">
                            @Html.LoadFields(keyvaluepair.Value)
                        </div>
                    </li>
                }
            </ul>
        }
</form>
</div>

<script>
   
</script>


 
<style>
    .zebra-node-details
    {
        border-style: groove;
        min-height: 100px;
    }
    .zebra-field{
        max-height: calc(100vh - 310px);
    }
    .field {
            margin-left:3px;
            margin-right:3px;
            margin-top:1px;
            margin-bottom:3px;
            display: block;
        }
      .page-designer-link{
            float: right;
            margin: 10px;
            border: dotted;
      }
</style>