@using Zebra.ZebraHelpers
@using Zebra.ModelView
@{
    Layout = null;
} 
@model NodeBrowserModel

<div class="zebra-node-details">
    <p>Name : @Model.node.NodeName</p>
    <p>Node ID: @Model.node.Id</p>

    <p>Template Name: @Model.template.TemplateName</p>
    <p>Template ID: @Model.template.Id</p>
    @{ var nodepath = Zebra.Services.Operations.OperationsFactory.NodeOperations.GetAllParentNodes(Model.node.Id.ToString());
    }
    <p>Node Path: @Html.LoadNodePath(nodepath)</p>
</div>

<button class="zebra-save-data">Save</button>
<select data-nodeid="@Model.node.Id" class="zebra-language-selector">
    @foreach (var lang in Model.alllanguages)
    {
        <option @(Model.currentlanguage.Id==lang.Id ? "selected" : "") value="@lang.Id">@lang.CultureName</option>
    }
</select>
<div class="zebra-field">
    <form class="zebra-field-data-form" enctype="multipart/form-data">
        <input type="hidden" name="nodeid" id="nodeid" value="@Model.node.Id" />
        <input type="hidden" name="nodelanguageid" id="nodelanguageid" value="@Model.currentlanguage.Id" />
       @if(Model.allnodelanguages.Count(x=>x.Id == Model.currentlanguage.Id) == 0)
        {
            <input type="button" class="zebra-add-locale" value="Add Locale"/>
        }
        @Html.LoadFields(Model.fields)
    </form>
</div>

<script>
   
</script>


 
<style>
    .zebra-node-details
    {
        border-style: groove;
        min-height: 100px;
    }
    .zebra-field{
        max-height: calc(100vh - 310px);
    }
      .field {
                margin-left:3px;
                margin-right:3px;
                margin-top:1px;
                margin-bottom:3px;
                display: block;
            }
</style>