@model Zebra.DataRepository.Models.User
<div class="zebra-login-container">
    <div class="zebra-container">
        <h1>Zebra CMS</h1>
        @using (Html.BeginForm("Validate", "Account"))
        {
            @Html.AntiForgeryToken()

            <div class="zebra-login">
                <h3>Enter login details</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="editor-login">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="editor-login">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="hidden" name="returnUrl" id="returnUrl" value="@TempData["returnUrl"]" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log In" class="btn btn-default" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<style>
    .zebra-container{
            height: 100%;
            width: 100%;
            margin: 0 auto;
            position: absolute;
            text-align: center;
            margin: 0 auto;
            padding-top: 100px;
            z-index : 10000;
            background-color: white;
    }
    .zebra-login{
            margin: 0 auto;
            width: 200px;
            border-style: outset;
            padding: 20px;
            text-align: start;
    }
    .zebra-login-container{
        height: 100%;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        margin: 0 auto;
        top: 0;
        left: 0;
        z-index : 1000;
        background-color: black;
    }


</style>